.box {
    margin: 20px;         
    padding: 15px;          
    border: 2px solid red; 
    background-color: white; 
    font-size: 16px;        
    width: 200px;          
    text-align: center;    
}
