p {
    color:red;
    line-height: 1.6;
}

.intro {
    font-style: italic;
}

.highlight {
    background-color: blue;
    padding: 8px;
}
#header {
    color:navy;
    font-size: 32px;
}

.box {
    border: 1px solid greenyellow;
    padding: 16px;
}
